[flake8]
ignore = E203, E501, W503,  # handled by black
         ANN101, ANN204,
         D104,  # no docstring in public package
         D200,  # One-line docstring should fit on one line with quotes
         D107,  #  Missing docstring in __init__
         R503, # you should add explicit return at end of the function if function have return value except None
exclude =
    *_venv
    venv_*
max-complexity = 10
max-cognitive-complexity = 15
per-file-ignores =
    # No docs and annotation required for tests
    test*.py: D10, D101, D103, S101, ANN, PT004, PT012
    hw3_task2.py: ANN001, ANN201, D401, S311, S303, S303
    hw6_1_decorator.py: N807, R504, D101
    Hw8_2_sqlite3.py: S608
    Hw_9_1.py: F821, N801, B012
    __init__.py: F401

# Import order https://pypi.org/project/flake8-import-order/
application-import-names = hw
import-order-style = pycharm

doctests = True
