[flake8]
ignore = E203, E501, W503,  # handled by black
         ANN101, ANN204,
         D104,  # no docstring in public package
         D200,  # One-line docstring should fit on one line with quotes
         D107,  #  Missing docstring in __init__
         R503, # you should add explicit return at end of the function if function have return value except None
exclude =
    *_venv
    venv_*
    */hw12
max-complexity = 10
max-cognitive-complexity = 15
per-file-ignores =
    # No docs and annotation required for tests
    test*.py: D10, D101, D103, S101, ANN, PT004, PT012
    hw3_task2.py: ANN001, ANN201, D401, S311, S303, S303
    hw6_1_decorator.py: N807, R504, D101
    Hw8_2_sqlite3.py: S608
    __init__.py: F401
    apps.py: D101
    urls.py: D400
    models.py: D101, D105
    0002_auto_20210426_1251.py: I201, D103, ANN001, ANN201, N806, D101
    settings.py: S105
    0001_initial.py: I100, D101
    manage.py: ANN201
    conf.py: D100, A001

# Import order https://pypi.org/project/flake8-import-order/
application-import-names = hw
import-order-style = pycharm

doctests = True
